# additional_requirements
-e git+https://github.com/zalf-rdm/geonode-mapstore-client.git@release-4.2.0#egg=django-geonode-mapstore-client
-e git+https://github.com/GeoNodeUserGroup-DE/importer-datapackage.git@main#egg=importer_datapackage
-e git+https://github.com/GeoNodeUserGroup-DE/contrib_externalapplications.git@main#egg=externalapplications